<!--{{environment}} - {{config:app:vercel_prod_url}} - {{config:app:vercel_url}}-->

<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
  <meta name='zd-site-verification' content='od3rs5oc4ggcruhipz6rp' />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{content | strip_tags | safe_truncate(100)}}" name="description">
  <meta name="google-site-verification" content="UHLjtoO7DV30dx3hVhwTOIWguEUr_VzS41msmq-uYKA" />
  {{if current_version}}
  <meta name="robots" content="noindex">
  <link rel="canonical" href="{{current_version}}{{permalink}}{{/current_version}}" />
  {{/if}}
  <link rel="apple-touch-icon" sizes="180x180" href="/docs/assets/general/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/docs/assets/general/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/docs/assets/general/favicon-16x16.png">
  <title>{{ title ?? site:name }}</title>
  {{if content }}
  {{partial:partials/schema/article}}
  {{else}}
  {{partial:partials/schema/webpage}}
  {{/if}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.25.0/tocbot.css">
  <link href="{{ mix src='/docs/css/site.css' }}" rel="stylesheet">
  <link href="{{ mix src='/docs/css/algolia.css' }}" rel="stylesheet">
  <script src="{{ mix src='/docs/js/site.js' }}"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>
  <link rel="preconnect" href="https://93SYI9HL20-dsn.algolia.net" crossorigin />
<script>
  (function(){let k=window.Kapa;if(!k){let i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};window.Kapa=i}})();
</script>
  <style>
    [x-cloak] {
      display: none !important;
    }
  </style>

  {{if environment == 'production' || environment=='test' }}
    {{partial:partials/_amplitude}}
    {{else}}
    <script>
      function academyClick(link){
          console.log(link)
      }
  </script>
  {{/if}}
</head>
<body class="bg-gray-100 font-sans leading-normal text-gray-800">
  <div x-data="{ sidebarOpen: false }" class="container prose">
    <div class="top-0 left-0  right-0 bg-white fixed z-10">
      <div class="w-full pt-5 pl-5">
        <div class="box-border">
          {{ partial:header }}
        </div>
      </div>

    </div>
    <div class="top-12 left-0 right-0 fixed bg-white z-10">
      <div class="w-full overflow-scroll md:overflow-auto pt-5 pl-5">
        <div class="box-border">
          {{ partial:top-nav }}
        </div>
      </div>

    </div>
    {{ if hide_side-nav || view:hide_side-nav}}
      <div class="absolute top-24 left-0 bottom-0 right-0 z-0">
        <div class="w-full">
          {{ template_content }}
        </div>
      </div>
    {{ else }}
      <div
        class="w-64 top-24 bg-white bottom-0 border-solid border-r border-black-200 -left-60 lg:left-0 lg:translate-x-0 lg:block z-10 fixed transition shadow overflow-visible lg:overflow-auto lg:overscroll-contain" :class="{ 'translate-x-[240px]': sidebarOpen }">
        <button @click="sidebarOpen = !sidebarOpen" class="absolute lg:hidden left-0 z-50 w-4 translate-x-[245px] translate-y-8" :class="{ 'rotate-180': sidebarOpen, 'translate-x-[250px]' : sidebarOpen }">{{svg src="/docs/assets/general/expand.svg"}}</button>
        <div class="h-full overflow-scroll overscroll-contain">{{ partial:side-nav :nav_title="nav_title" }}</div>    
        
      </div>
      <div class="absolute top-24 left-0 lg:left-64 bottom-0 right-0 z-0 transition">
        <div class="max-w-screen-xl pt-8 mx-auto">
          {{ template_content }}
        </div>
      </div>
    {{ /if }}
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.25.0/tocbot.min.js"></script>
    <script>

      // Get all h2 and h3 elements
      var headings = document.querySelectorAll('h2, h3');
  
      // Check if there are more than 3
      if (headings.length > 2) {
        // Execute your code here
        tocbot.init({
          // Where to render the table of contents.
          tocSelector: '.js-toc',
          // Where to grab the headings to build the table of contents.
          contentSelector: '.prose',
          // Which headings to grab inside of the contentSelector element.
          headingSelector: 'h2, h3',
          // For headings inside relative or absolute positioned containers within content.
          hasInnerContainers: true,
          ignoreSelector: '.hint-title',
          orderedList: false,
          ignoreHiddenElements: true,
          headingsOffset: 96,
          scrollSmoothOffset: -96
        });    }
     
    </script>
{{partial:partials/algolia-script}}
{{if environment == 'production' }}
{{partial:partials/kapa-script}}
{{/if}}
<script src="{{ mix src='/docs/js/site.js' }}"></script>
{{if environment == "production"}}
{{partial:partials/cookie-control}}
{{/if}}
</body>
</html>
