{{ if article_type == "core"}}
<div class="p-2 gap-2 mb-8 ml-8 border border-black-100 rounded">
  <h5 class="m-0 text-black-300 font-gellix">SDK Details</h5>
  <a href="{{bundle_url}}" target="_blank"><img class="mb-4 mt-0" src="{{shields_io_badge}}" /></a>
  <div class="flex">
    <a href="{{github_link}}" target="_blank" alt="GitHub">{{svg src="/docs/assets/icons/github.svg" class="h-6 mr-4"}}</a>
    <a href="{{releases_url}}" target="_blank" alt="Releases">{{svg src="/docs/assets/icons/tag.svg" class="h-6"}}</a>
    {{# <a href="{{ampli_article}}{{url}}{{/ampli_article}}" target="_blank">{{ampli_article}}{{title}}{{/ampli_article}}</a> #}}
  </div>
</div>
{{/if}}