{{collection:session-replay public:is="true" as="entries"}}
{{entries group_by="platform"}}
{{groups}}
<h2>{{group | ucfirst}}</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 w-full">
{{items}}
<a href="{{ url }}">
<div class="flex flex-col border border-black-100 rounded h-64 md:h-60 p-4 hover:shadow-lg transition-shadow text-black-900">
<p class="mt-0 leading-6 font-[Gellix] text-[1.25rem]">{{ title }}</p>
<div class=" self-end mb-0 text-[.875rem] leading-5 text-amp-gray-600 landing-blurb">{{ description | markdown}}</div>
</div>
</a>
{{/items}}
</div>
{{/groups}}
{{/entries}}
{{/collection:session-replay}}