# .ebextensions/00_nginx_custom.config
files:
  "/etc/nginx/conf.d/01_statamic.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location / {
          try_files $uri $uri/ /index.php?$query_string;
      }

      location ~ \.php$ {
          include fastcgi_params;
          fastcgi_pass 127.0.0.1:9000;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
          fastcgi_index index.php;
      }

      location ~ /(site|storage|statamic|vendor)/.*\.(php|html|js|css|json)$ {
          deny all;
          return 404;
      }

      location ~* \.(?:ico|css|js|gif|jpe?g|png|woff2?|eot|ttf|svg|otf|webp)$ {
          expires 6M;
          access_log off;
          add_header Cache-Control "public";
      }